<div class="download-banner">
    <div class="row" style="margin-top: -3%;">
      <div class="small-2 columns" {{action 'removeBanner'}}>
        <i class="fa fa-times-circle" aria-hidden="true" style="margin-top:35%;margin-left: 40%;"></i>
      </div>
      <div class="small-2 columns" style="margin-left: -5%;">
        <img src="assets/images/donor.png" alt="" style="height: 50px;">
      </div>
      <div class="small-6 columns">
        <div class="app-name">{{appName}}</div>
        <div class="org-name">{{orgName}}</div>
        <div class="download">FREE - In Google Play</div>
      </div>
      <div class="small-2  columns" class="view-app">
        <a href={{appStoreURL}}>VIEW</a>
      </div>
    </div>
</div>
