# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp

# dependencies
node_modules
bower_components

# fastlane
Preview.html
fastlane/report.xml
fastlane/*.json

# misc
.sass-cache
connect.lock
coverage/*
libpeerconnection.log
npm-debug.log
testem.log
cordova/www
cordova/platforms
.hgignore
.DS_Store
cordova/plugins/*
cordova/.secret_keys
cordova/google-services.json
cordova/ul_web_hooks
cordova/node_modules
*.mobileprovision
*.keystore
*.p8
*.p12

